* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  background: #14bdac;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
}

.title span {
  color: #f2ebd3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 18px;
  justify-content: space-around;
}

.status span {
  color: #f2ebd3;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #f2ebd3;
}

#new-game {
  cursor: pointer;
}

#new-game:hover {
  color: #f2ebd3;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  background: #0da192;
  margin-top: 50px;
}

.game-cell {
  height: 100px;
  width: 100px;
  background: #14bdac;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x::before {
  content: '✕';
  font-size: 60px;
}

.o::before {
  content: '○';
  font-size: 100px;
  color: #f2ebd3;
}

.player-name {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.4rem;
  border-radius: 10px;
  border-style: groove;
  border-width: 1px;
}

.play-btn {
  width: 100%;
  color: white;
  background: #14bdac;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}

#divForm {
  margin: auto;
}
